@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
    margin-bottom: 100px;
}

#areaspline {
    width: 100%;
    height: 500px;
}

#areaspline-inverse {
    width: 100%;
    height: 500px;
}

#areaspline-multiple {
    width: 100%;
    height: 500px;
}

#column {
    width: 100%;
    height: 500px;
}

#pie,
#donut {
    width: 100%;
    height: 400px;
}

.tooltip .title {
    font-family: Roboto;
    font-size: 10px;
    line-height: 1.6;
    color: rgba(43, 58, 82, 0.54);
}

.tooltip .value {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.43;
    color: rgba(43, 58, 82, 0.87);
}